/* TAILWIND IMPORTS^ */
@tailwind base; @tailwind components; @tailwind utilities;

:root.light { color-scheme: light; }
:root.dark { color-scheme: dark; }

/* WEBSITE MAIN */

* {
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

/* WEBSITE SCROLLBAR */

*::-webkit-scrollbar {
  width: 11px; height: 11px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 0px; border: none;
}

*::-webkit-scrollbar-thumb:hover { background-color: #bcbcbc; }
*::-webkit-scrollbar-thumb:active { background-color: #aeaeae; }

/* WEBSITE BUTTON HOVER */

.hover-button:hover { background-color: rgb(255, 100, 100); }
.hover-button {
  cursor: pointer; transition: all 0.1s ease;
}

.youtube-button { background-color: rgb(252, 134, 134); }

/* WEBSITE DISCOGRAPHY */

.card-header { font-size: clamp(15px, 20px, 25px); }

.discographyAnim {
  font-size: clamp(10px, 15px, 25px);
  border-width: 3px;
  border-color: transparent;

  transition: border-color 0.3s ease;
  transition: transform 0.1s ease-in-out;

  animation: borderAnimation 2s ease;
}

:root.light .discographyAnim:hover {
  border-color: #555555;
  transform: scale(1.02);
}

:root.dark .discographyAnim:hover {
  border-color: white;
  transform: scale(1.02);
}

/* WEBSITE ANIMATIONS */
@keyframes borderAnimation {
  from {
    border-width: 0px;
  }
  to {
    border-width: 2px;
  }
}

/* WEBSITE MEDIA RESPONSIVE */
@media (max-width: 768px) {
  .youtube-embed {
    height: 195px;
  }

  .margin-title {
    margin-left: -8px;
  }

  .margin-button {
    margin-right: -6px;
  }
}
